body{
    margin: 0;
    padding: 0;
    background-color: rgb(226, 162, 43);
    background-image: url('download.jpg');
    background-repeat: repeat-y;
    background-position: top right;

}
html,
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}